<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link  rel="short icon" href="C:\Users\YAN\OneDrive\桌面\moban1090\login\psd21167.JPG" >
    <title>HTML登录界面</title>
 
<style>
    .tittle1{font-size: xxx-large;text-align: center;font-family: Arial;}
    .button1{text-align: center;}
    body{margin: 380px 280px 250px 250px;background: url("psd21167.png")}
</style>
</head>
<body>
 <h1 class="tittle1">set a login page</h1>
<center>
  <table border="0">
      <tr>
          <td style="padding: 20px;padding-right: 0px;color: #bbbbbb;font-size: 20px">
             <b>账号：</b>
          </td>
          <td>
              <form>
                  <input type="text" name="account" >
              </form>
              <input type="button" value="提交"  οnclick=alert("提交成功！")>
          </td>
 
      </tr>
      <tr>
          <td style="padding: 20px;padding-right: 0px;color: #bbbbbb;font-size: 20px">
              <b>密码：</b>
          </td>
          <td>
              <form>
                  <input type="password" name="passcode">
              </form>
          </td>
      </tr>
      <tr>
          <td colspan="2" >
 
              <input type="submit" style="margin: 30px;margin-top:0px;margin-left:10px;width: 250px;height: 50px;font-size: larger;" value="登录">
 
          </td>
 
      </tr>
  </table>
</center>
</body>
</html>